<!doctype html>
<html lang="pt-BR">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS -->
  <link rel="stylesheet" href="../style.css">
  <title>Vagas</title>
</head>
<body >         
  <div class="container">
    <div class="faders"> <!-- efeito inicio -->
      <div class="left"></div>
      <div class="right"></div>
    </div> <!-- efeito fim -->
    <div class="items">
      <div class="card">
        <p class="title"> <?= $vaga ?>  </p>
        <p class="title2"> <?= $empresa ?>  </p>
        <p class="quote">Localização:
          <?= $local ?> Data
          <?= $postagem ?>
        </p>
        <a href="<?= $url ?>" class="btn btn-primary px-5" target="_blank"> + Detalhes</a>
      </div>
    </div>
  </div>
  <script src="../js.js"></script>
</body>
</html>